* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;   
}

body::-webkit-scrollbar{
    display: none;
}


$darkblue: #020613;
$lightblue: #B0A1BA;
$white: #EDEAD0;

@import "./card.scss";
@import "./contact.scss";
@import "./homeMenu.scss";
@import "nav.scss";
@import "./carousel.scss";
@import "./media.scss"