* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif; }

body::-webkit-scrollbar {
  display: none; }

.card-grid {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EDEAD0; }

.card-grid::-webkit-scrollbar {
  display: none; }

.card {
  margin: 2rem;
  overflow: hidden;
  transition: transform 1000ms ease;
  border: solid 2px #020613;
  box-shadow: 10px 5px 5px #020613; }

.card-img {
  height: 100vh;
  position: relative; }

.card p {
  visibility: hidden;
  position: relative;
  top: 50%;
  left: 50%; }

.card:hover {
  cursor: pointer;
  transform: scale(1.05); }
  .card:hover p {
    visibility: visible; }

.contact-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine; }

.contact-form:has(input, label) {
  padding: 3rem; }

.main-background {
  width: 100vw;
  height: 100vh;
  background-color: #EDEAD0; }

.txt-container {
  display: flex;
  flex-flow: column;
  width: 50rem;
  height: 40rem;
  position: absolute;
  pointer-events: none;
  overflow-x: visible;
  z-index: 2; }

.home-title {
  position: relative;
  background: none;
  color: #EDEAD0;
  padding: 10rem 0 0 7rem; }

.home-list {
  color: #020613;
  list-style-type: none;
  padding: 0 0 0 5rem; }
  .home-list li {
    pointer-events: painted;
    cursor: pointer;
    font-size: 3rem;
    margin: 1.5rem 5rem; }
    .home-list li .menu--img_one, .home-list li .img-two, .home-list li .img-three {
      left: 50%;
      top: 0;
      width: 150%;
      height: 100vh;
      position: absolute;
      overflow-x: hidden;
      display: none; }
  .home-list li:hover {
    text-decoration: line-through; }
    .home-list li:hover .menu--img_one, .home-list li:hover .img-two, .home-list li:hover .img-three {
      display: flex;
      overflow: hidden; }

li
.img-two {
  display: flex; }
  li
.img-two .main-img {
    border: 1px solid #020613;
    position: relative;
    margin: 0 0.5rem;
    padding: 1rem; }

.img-three {
  background-color: red; }

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #020613;
  overflow: hidden;
  justify-content: center;
  align-items: center; }
  .nav li a {
    font-weight: 400; }

.carousel-img {
  position: relative;
  background-size: cover;
  width: 50vw;
  top: -10rem; }

@media (max-width: 600px) {
  * {
    overflow-x: hidden; }
  .card-img {
    height: 50vh;
    position: relative; }
  .home-title {
    padding: 5rem 0 0 2rem; }
  .home-list li {
    font-size: 2em;
    margin: 0.5rem 0rem; }
  .home-list li .menu--img_one, .home-list li .img-two, .home-list li .img-three {
    left: auto;
    top: auto;
    width: 40%;
    height: 30vh;
    position: absolute;
    overflow-x: hidden;
    display: none; } }
